.feynman {
  background-image: url(/images/feinman.png);
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  min-height: 890px;
  background-color: #f2f2f2;
  background-position: left bottom;
  padding-top: 100px;
}
